*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: linear-gradient(90deg,  #773344 50%, #e3b5a4 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-box{
    background: #f5e9e2;
    width: 90%;
    height: 90vh;
}
.navbar{
    position: fixed;
    width: 85%; 
    height: 15vh;
}
.navbar .logo h2{
    color: #e3b5a4;
   font-size: 35px;
   margin-left: 30px;
   font-weight: 700;
}
.navbar .logo span{
    color: #773344;
    font-size: 35px;
    font-weight: 700;
}
.navbar, .navlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
.navlist li{
    list-style: none;
    padding: 20px;
}
.navlist li a{
    color: #773344;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
.navlist li a::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2.5px;
    background: #e3b5a4;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.navlist li a:hover::before{
    width: 100%;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.hero img{
    margin-top: 200px;
    height: 100%;
    width: 85vw;
}
.content{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    border-left: 4px solid #773344;
    padding: 20px 50px; 
}
.content h3{
    color: #8a5169;
    font-weight: 600;
    font-size: 25px;
    font-family: cursive;
    letter-spacing: 4px;
}
.content h1{
    color: #773344;
    font-weight: 700;
    font-size: 60px;
  
}
.content p{
    color: #0f0409;
    font-size: 18px;
    line-height: 23px;
}
.content button{
    padding: 15px 30px;
    font-size: 20px;
    color: #e0cad3;
    border: none;
    background: #773344;
    font-weight: 500;
    cursor: pointer;
}
.content button:hover{
    background: #8a5169;
    color: #060505;
}
.menu-bar{
    display: none;
}
.menu-bar span{
    width: 15px;
    height: 3px;
    background-color:#773344 ;
    display: block;
    margin: 5px;
}
.menu-bar span:nth-child(2){
    width: 30px;
}








/* responsive */
@media (max-width:1207px){
    .content h1{
        font-size: 45px;
    }
    .content p{
        font-size: 17px;
        line-height: 25px;
    }
}
@media(max-width:1110){
    .content{
        padding: 0px 40px;
    }
    .content h1{
        font-size: 40px;
        gap:10px;
    }
}
@media(max-width:796px){
    .product-box{
        position: relative;
        overflow: hidden;
    }
    .navlist{
      position: absolute;
      flex-direction: column;
      top: 0;
      right: -200%;
      background-color: #e0cad3;
      width: 300px;
      height: 400%;
      justify-content: space-around; 
      transition: .3s ease-in-out;
    }
    .navlist-active{
        right: 0;
    }
    .menu-bar{
        display: block;
    }
    .content h1{
        font-size: 50px;
    }
    .content p{
        font-size: 18px;
        line-height: 30px;
    }
    .content{
        padding: 20px 30px;
        gap: 15px;
    }
}
    
